newrelic:
  fetch:
    - name: active_canary_hostnames
      api: insights
      query: >
        SELECT
          uniques(podName) AS podNames,
          uniqueCount(podName) AS count
        FROM K8sContainerSample
        SINCE 1 minute AGO
        WHERE namespace = 'ns'
          AND deploymentName = 'opsani-canary'
    - name: active_standard_hostnames
      api: insights
      query: >
        SELECT
          uniques(podName) AS podNames,
          uniqueCount(podName) AS count
        FROM K8sContainerSample
        SINCE 1 minute AGO
        WHERE namespace = 'ns'
          AND deploymentName = 'standard'
    - name: active_canary_instances
      api: apm_instances_list
      hostnames: "active_canary_hostnames.get_column_value('podNames')"
    - name: canary_insights_metrics
      api: insights
      query: >
        SELECT
          average(cpuUsedCores) AS cpuUsedCores,
          average(cpuRequestedCores) AS cpuRequestedCores,
          average(memoryUsedBytes) AS memoryUsedBytes,
          average(memoryRequestedBytes) AS memoryRequestedBytes
        FROM K8sContainerSample
        SINCE '{from_time}'
        UNTIL '{to_time}'
        WHERE namespace = 'ns'
          AND deploymentName = 'opsani-canary'
        FACET podName
        TIMESERIES
        LIMIT 1000
    - name: canary_apm_metrics
      api: apm_metrics_data
      instance_ids: "active_canary_instances.ids"
      metrics:
        - name: HttpDispatcher
          values:
            - requests_per_minute
            - average_response_time
        - name: Errors/all
          values:
            - error_count
  metrics:
    - name: canary_throughput
      unit: rpm
      values: "canary_apm_metrics.get_metric('HttpDispatcher').requests_per_minute"
    - name: canary_response_time
      unit: seconds
      values: "canary_apm_metrics.get_metric('HttpDispatcher').average_response_time"
    - name: canary_error_rate
      unit: amount
      values: "canary_apm_metrics.get_metric('Errors/all').error_count"
    - name: canary_cpu_used
      unit: bytes
      values: "canary_insights_metrics.get_column_value('cpuUsedCores')"
    - name: canary_mem_used
      unit: bytes
      values: "canary_insights_metrics.get_column_value('memoryUsedBytes')"
    - name: standard_instance_count
      unit: count
      value: "active_standard_hostnames.get_column_value('count')"
    - name: canary_instance_count
      unit: count
      value: "active_canary_hostnames.get_column_value('count')"